:root {
  /* Dark Theme Colors */
  --theme-darkBgPrimary: #000000;

  --theme-darkBgSecondary: #262626;

  --theme-darkBgTertiary: #2f3033;

  --theme-darkShadowBackground: #191919;

  --theme-darkPrimaryAction: #2f3e4c;
  --theme-darkPrimaryAlternate: #ffffff;

  --theme-darkAccentPrimary: #738491;
  --theme-darkAccentSecondary: #738491;
  --theme-darkAccentNeutral: #738491;

  --theme-darkTextPrimary: #fff;
  --theme-darkTextMuted: #b1bec9;
  --theme-darkTextInverted: #1a1d21;

  --theme-darkBorderBg: #0b0e16;

  --theme-darkHoverBg: #3d3f45;

  --theme-darkError: #ef4444;
  --theme-darkSuccess: #22c55e;
  --theme-darkDisabled: #6b7280;
  --theme-darkCaution: #f59e0b;

  /* Light Theme Colors */
  --theme-lightBgPrimary: #edf0f2;
  --theme-lightBgSecondary: #fff;
  --theme-lightBgTertiary: #ecf0f3;

  --theme-lightShadowBackground: #f4f4f6;

  --theme-lightPrimaryAction: #2f3e4c;
  --theme-lightPrimaryAlternate: #2f3e4c;

  --theme-lightAccentPrimary: #738491;
  --theme-lightAccentSecondary: #2f3e4c;
  --theme-lightAccentNeutral: #edf0f2;

  --theme-lightTextPrimary: #000;
  --theme-lightTextMuted: #738491;
  --theme-lightTextInverted: #eef0f1;

  --theme-lightBorderBg: #e5e7eb;

  --theme-lightHoverBg: #eeeeee;

  --theme-lightError: #ef4444;
  --theme-lightSuccess: #22c55e;
  --theme-lightDisabled: #6b7280;
  --theme-lightCaution: #f59e0b;

  /* Default: Light theme */
  --bg-primary: var(--theme-lightBgPrimary);
  --bg-secondary: var(--theme-lightBgSecondary);
  --bg-tertiary: var(--theme-lightBgTertiary);

  --bg-shadow: var(--theme-lightShadowBackground);

  --primary-action: var(--theme-lightPrimaryAction);
  --primary-alternate: var(--theme-lightPrimaryAlternate);

  --accent-primary: var(--theme-lightAccentPrimary);
  --accent-secondary: var(--theme-lightAccentSecondary);
  --accent-neutral: var(--theme-lightAccentNeutral);

  --text-primary: var(--theme-lightTextPrimary);
  --text-muted: var(--theme-lightTextMuted);
  --text-inverted: var(--theme-lightTextInverted);

  --hover-bg: var(--theme-lightHoverBg);
  --hover-primary: var(--accent-primary);

  --border-bg: var(--theme-lightBorderBg);
  --border-outline: var(--text-muted);
  --border-soft: var(--accent-primary);

  --success: var(--theme-lightSuccess);
  --error: var(--theme-lightError);
  --disabled: var(--theme-lightDisabled);
  --caution: var(--theme-lightCaution);
}

/* Dark Theme Overrides */
.theme-dark {
  --bg-primary: var(--theme-darkBgPrimary);
  --bg-secondary: var(--theme-darkBgSecondary);
  --bg-tertiary: var(--theme-darkBgTertiary);

  --bg-shadow: var(--theme-darkShadowBackground);

  --primary-action: var(--theme-darkPrimaryAction);
  --primary-alternate: var(--theme-darkPrimaryAlternate);

  --accent-primary: var(--theme-darkAccentPrimary);
  --accent-secondary: var(--theme-darkAccentSecondary);
  --accent-neutral: var(--theme-darkAccentNeutral);

  --hover-bg: var(--theme-darkHoverBg);
  --hover-primary: var(--accent-primary);

  --text-primary: var(--theme-darkTextPrimary);
  --text-inverted: var(--theme-darkTextInverted);
  --text-muted: var(--theme-darkTextMuted);

  --border-bg: var(--theme-darkBorderBg);
  --border-outline: var(--text-muted);
  --border-soft: var(--accent-primary);

  --success: var(--theme-darkSuccess);
  --error: var(--theme-darkError);
  --disabled: var(--theme-darkDisabled);
  --caution: var(--theme-darkCaution);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--largeTextColor);
}
